html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1rem == 10px /P.1*/
    font-size: 61.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    /* 1rem == 10px /P.2*/
    font-size: 16px;
    background-color: var(--bg-clr);
    font-family: var(--fuentePrincipal);
}

/* Variables */
:root {
    /* Basics */
    --blanco: #fff;
    --bg-clr: #A9A6AB;
    --negro: #000;

    /* Custom */
    --primario: #1877F2;
    --secundario: #F5EDCE;

    --band-clr: #275591;
    --title-clr: #4D46A6;
    --flex: #31ACBD;

    /* Font */
    --fuentePrincipal: 'Exo 2', sans-serif;
}

/* Globales */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.contenedor {
    margin: 0 auto;
    width: 90%;
}

.btn-primario {
    padding: 1.5rem;
    border-radius: 1.2rem;
    color: var(--primario);
    background-color: #e1e1e1;
    text-transform: uppercase;
    border: 0;
}

.btn-newsletter {
    padding: 1rem 3.5rem;
    font-size: 1.5rem;
    color: var(--primario);
    background-color: var(--secundario);
    border: 0;
    opacity: 0.8;
}

html {}

img {
    width: 100%;
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
    color: var(--title-clr);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.2rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--negro);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

a:visited {
    color: none;
}

.more-here {
    margin: 0 1rem;
    font-size: 1.3rem;
}

/* Header */

body {
    background-color: #e1e1e1;
}

nav .active {
    background-color: var(--primario);
    color: var(--blanco);
    border-radius: 12px;
}

.header {
    background-color: var(--blanco);
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.header__social {
    width: 100%;
    height: fit-content;
    padding: 1rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 140rem;
}

.header__social>i {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin: 0 10px;
}

.bi-facebook:hover {
    color: #1877f2;
}

.bi-twitter:hover {
    color: #1da1f2;
}

.bi-instagram:hover {
    color: violet;
}

.navegacion-principal .container-fluid {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
}

ul.nav {
    width: auto;
    padding: 0;
    margin: 0;
}

.navegacion-principal .logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.logo .logo__brandName {
    grid-area: 1 / 2 / 2 / 3;
    border-left: 2px solid #000;
    padding: 0 2rem;
}

.logo__brandName p {
    font-weight: normal;
    font-size: 2rem;
    color: var(--band-clr);
}

.logo .logo__tagline {
    grid-area: 2 / 2 / 3 / 3;
    border-left: 2px solid #000;
    text-align: center;
}

.navegacion-principal .logo .logo__image {
    grid-area: 1 / 1 / 4 / 2;
    background-image: url('../media/img/logo/logo_main.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Index */

.hero {
    width: 100%;
}

.hero-contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    image-rendering: optimizeSpeed;
    background-image: url('../media/img/2external/index-hero.webp');
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    max-height: 800px;
}

.hero-txt-contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    left: 3rem;
    bottom: 40rem;
    text-align: left;

    width: 100%;
    height: 30rem;
    z-index: 10;
}

.title-grid-container h2 {
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--title-clr);
    margin: 2% 0 0 5%;
}

.featured-Product {
    background-color: var(--blanco);
    border-radius: 10px;
    margin: 5rem auto;
    box-shadow: 1rem 1rem 1rem 0rem rgba(0, 0, 0, 0.3);
}


.fp-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 0;
}

/*  Grid - Gallery */

.fp-grid-container .gallery {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fp-grid-container .gallery .gallery__big {
    width: 80%;
    margin: 1rem 0;
}

.fp-grid-container .gallery p {
    font-size: 1.6rem;
    margin: 1rem;
    text-align: center;
}

.gallery-bottom {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/*  Grid - Right */
.fp-grid-container .right {
    border-left: 1px solid var(--flex);
}

/*  Grid - Right -> header*/
.fp-grid-container .right .header-grid {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--flex);
}

.fp-grid-container .right .header-grid .header__title {
    margin-top: 1.5rem;
    font-size: 2.2rem;
    color: var(--title-clr);
}

.fp-grid-container .right .header-grid .header__save-price {
    color: var(--secundario);
    background-color: var(--primario);
    font-size: 1.2rem;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    margin: 1rem 0;
    padding: 0.3rem 1.5rem;
}

.header__vendor-name {
    color: var(--primario);
    font-size: 1.7rem;
    font-weight: bold;
    margin: 2rem 0;
}

.header__vendor-name:hover {
    text-decoration: underline;
}

/*  Grid - Right -> section*/

.right-info {
    display: flex;
    flex-direction: column;
}

.right-info>div {
    padding: 1rem 0;
}

.right-info--description .descritpion__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

.right-info--description .descritpion__txt-content {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    width: 95%;
}

.right-info--feactures .feactures__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

.right-info--feactures .feactures__list {
    list-style: disc;
    padding: 0 2rem;
    width: 90%;
}

.right-info--feactures .feactures__list>li {
    line-height: 2.3;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right-info--size .size__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

.right-info--size .size__list {
    list-style: disc;
    padding: 0 2rem;
    width: 90%;
}

.right-info--size .size__list>li {
    line-height: 2.3;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*  Grid - Right -> footer*/

.right-to-chart .to-chart__title {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 8%;
}

.to-chart__size {
    display: flex;
    gap: 1rem;
}

.sizeholder {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid var(--primario);
    border-radius: 3rem;
}

.sizeholder p {
    margin: auto;
    padding: 1rem;
    color: var(--primario);
}

.sizeholder:hover {
    filter: invert(.6);
}

.to-chart__price {
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    align-items: center;
}

.newPrice {
    font-size: 4rem;
    color: var(--primario);
}

.old-price {
    font-size: 2rem;
    text-decoration: line-through;
    color: var(--title-clr);
}



/* Footer */

.footer {
    width: 100%;
    height: 27rem;
    padding: 3rem 0;
    color: var(--secundario);
    background-color: #082D96;
    background-repeat: repeat;
    background-position: center center;
}

.footer-container {
    max-width: 1400px;
    width: auto;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section>ul>li {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2;
    text-align: left;
    width: max-content;
    height: max-content;
}

section>ul>li:hover {
    list-style: georgian;
    color: var(--blanco);
}

section>h4 {
    color: var(--secundario);
    width: max-content;
    height: max-content;
    font-size: 2.8rem;
    font-weight: 400;
    margin: 1rem 0;
    border-bottom: solid 2px var(--bg-clr);
    text-align: center;
}

section>ul {
    padding: 0;
    text-align: left;
}


section.footer-subscribe {
    padding: 0;
    margin: 0;
}

section.footer-subscribe input[type="email"] {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 8px;
    color: var(--secundario);
    background-color: var(--bg-clr);
    border-radius: 1rem;
    border: 0;
    font-size: 2rem;
}

section.footer-subscribe div.sub-cbx {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0.5rem;
}

section.footer-subscribe input[type="checkbox"] {
    background-color: blue;
    transform: scale(1.3);
}

section.footer-subscribe p {
    color: var(--secundario);
    font-size: 1.8rem;
    line-height: 1.2;
    margin: 0;
    margin-left: 1rem;
}

section.footer-subscribe .btn-newsletter:hover {
    color: var(--band-clr);
    background-color: var(--bg-clr);
    opacity: 1;
}

/* Fin del index */

/* Estilos -> News */

main.main-content-news {
    width: 100%;
    background-image: url(/media/img/1ZephyrGear/brand-logo-bg.png);
    padding: 100px 0;
}

.main-content-news section.introduction {
    width: 100%;
    text-align: center;
    color: var(--secundario);
}

.main-content-news section.introduction h1 {
    text-align: center;
}

.main-content-news section.introduction h3 {
    margin: 2rem 0;
}

.main-content-news section.excerpts>div {
    width: 80%;
    border-bottom: 2px solid var(--secundario);
    margin: 5rem auto;
    padding: 2rem 0;
}

.main-content-news section.excerpts>div:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}


/* Estilos ->  Mice */

section.mice-hero {
    width: 100%;
    height: fit-content;
}

article.mice-hero__imagen {
    width: 100%;
    height: 600px;
    background-image: url('/media/img/2external/mice-banner-3.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 55%;
    overflow: hidden;
}

article.mice-hero__imagen h1 {
    position: relative;
    top: 55%;
    left: 8%;
    font-size: 7rem;
    font-weight: bold;
    font-style: italic;
    color: var(--secundario);
}

.mice-content {
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

main.main-content-mice {
    width: 90%;
    margin: 0 auto;
}

.mice-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-column-gap: 5rem;
    grid-row-gap: 2px;
}

div.mice-content__filter {
    grid-area: 1 / 1 / 4 / 2;
}

div.mice-content__filter .filter__heading {
    text-align: center;
    font-size: 2rem;
    color: var(--title-clr);
    line-height: 4rem;
    border-bottom: 2px solid var(--primario);
}

div.mice-content__filter .filter-container {
    padding: 0 0.5rem 2rem 1rem;
    text-align: left;
    position: relative;
    top: 2rem;
}

.filter-container>div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.filter-container>div>label {
    font-size: 1.5rem;
    color: var(--primario);
    margin: auto;
}

.filter-container>div>input {
    transform: scale(1.5);
    filter: invert(1);
}

div.grid-heading {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorter__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 80%;
}

.sort__selector {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

div.label-input {
    width: fit-content;
    align-self: flex-end;
    margin: 1rem 2rem;
    filter: invert(1);
    color: white;
}

div.label-input>label {
    font-size: 1.6rem;
    text-align: center;
}

div.label-input>select {
    width: 15rem;
    height: 5rem;
    font-weight: bolder;
    text-align: center;
}

.grid-container {
    grid-area: 2 / 2 / 3 / 3;
    border-top: 1px solid #000;

    /* Grid interno */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    /* Custom */
    padding: 2rem;
}

.grid-container>div {
    margin: 1rem 0;
    border-radius: 1rem;
}

/* Fin de news */

/* Estilos -> Contact us */



/* Estilos -> about us */

main.main-content-about-us {
    width: 100%;
    padding: 5rem 0;
    background-color: var(--bg-clr);
}

main.main-content-about-us h1,
h2,
h3 {
    color: var(--title-clr);
    font-weight: bolder;
}

main.main-content-about-us div.main-content-container {
    width: 80%;
    height: max-content;
    margin: auto;
    padding: 0 5rem;
}

div.main-content-container section.introduction {
    text-align: center;
}

div.main-content-container article.content div.img-banner {
    padding: 50px 0;
}

div.main-content-container article.content div.img-banner div.tenor-gif-embed {
    width: 50%;
    margin: auto;
}

div.main-content-containerdiv.txt-container {
    width: 80%;
    margin: auto;
}

div.main-content-container div.txt-container p {
    font-size: 2rem;
    font-weight: 400;
    color: var(--negro);
}

div.main-content-container section.clip-1,
section.clip-2 {
    margin: 10rem auto;
    width: 50%;
    height: fit-content;
    text-align: center;
}


/* MediaQueries */

@media(max-width: 1100px) {
    nav {
        display: block;
        width: 90%;
        margin: auto;

    }

    .fp-grid-container {
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }

    .fp-grid-container .right {
        border-left: 0;
    }

    .footer {
        width: auto;
        height: fit-content;
    }

    .footer-container {
        padding: 0 2rem;
        width: auto;
        height: fit-content;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

}

@media (max-width: 768px) {
    .footer {
        background-image: url(../media/img/1ZephyrGear/brand-logo-bg.png);
        background-repeat: repeat-y;
        background-size: contain;
        height: auto;
    }

    .footer-container {
        display: block;
        height: auto;
        margin: auto;
    }

    section>h4 {
        width: auto;
        height: auto;
    }

    section>ul {
        text-align: center;
    }

    section>ul>li {
        font-size: 3rem;
        font-weight: 700;
        line-height: 3;
        text-align: center;
        width: auto;
        height: auto;
    }

    section.footer-subscribe .btn-newsletter {
        width: 100%;
    }
}