/* DayMode - LightMode */
html {
    font-size: 61.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: var(--bg-clr);
    font-family: var(--fuentePrincipal);
    @include bg-gradient-light;
    box-sizing: inherit;
}

body.darkMode {
    @include bg-gradient-dark;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.contenedor {
    margin: 0 auto;
    width: 90%;
}

img {
    width: 100%;
}