/* DayMode - LightMode */
html {
    font-size: 61.5%;
    box-sizing: border-box;
}

body {
    transition: all 1s ease;
    font-size: 16px;
    background-color: var(--bg-clr);
    font-family: var(--fuentePrincipal);
    box-sizing: inherit;
}

body.darkMode {
    transition: all 1s ease;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.contenedor {
    margin: 0 auto;
    width: 90%;
}

img {
    width: 100%;
}

button {
    border: 0;
    outline: 0;
}