.title-grid-container {
    h1 {
        font-size: 2.8rem;
        font-weight: bold;
        color: var(--title-clr);
        margin: 2% 0 0 5%;
    }
}

.featured-Product {
    background-color: var(--blanco);
    border-radius: 10px;
    margin: 5rem auto;
    box-shadow: 1rem 1rem 1rem 0rem rgba(0, 0, 0, 0.3);
}

.fp-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5rem 0;
    }

    .gallery {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gallery__big {
            width: 80%;
            margin: 0 auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        p {
            font-size: 1.6rem;
            margin: 1rem;
            text-align: center;
        }
    }

    .right {
        border: 0;

        @include desktop {
            border-left: 1px solid var(--flex);
        }

        .header-grid {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid var(--flex);

            .header__title {
                margin-top: 1.5rem;
                font-size: 2.2rem;
                color: var(--title-clr);
            }

            .header__save-price {
                color: var(--secundario);
                background-color: var(--primario);
                font-size: 1.2rem;
                font-weight: bold;
                height: fit-content;
                width: fit-content;
                margin: 1rem 0;
                padding: 0.3rem 1.5rem;
            }
        }
    }
}

.gallery-bottom {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    div {
        height: auto;
        width: fit-content;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.header__vendor-name {
    color: var(--primario);
    font-size: 1.7rem;
    font-weight: bold;
    margin: 2rem 0;

    &:hover {
        text-decoration: underline;
    }
}

.right-info {
    display: flex;
    flex-direction: column;

    >div {
        padding: 1rem 0;
    }


}

.right-info--description {
    .descritpion__title {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin: 1rem 0;
    }

    .descritpion__txt-content {
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        width: 95%;
    }
}

.right-info--features {
    .features__title {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin: 1rem 0;
    }

    .features__list {
        list-style: disc;
        padding: 0 2rem;
        width: 90%;

        >li {
            line-height: 2.3;
            font-size: 1.5rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}

.right-info--size {
    .size__title {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin: 1rem 0;
    }

    .size__list {
        list-style: disc;
        padding: 0 2rem;
        width: 90%;

        >li {
            line-height: 2.3;
            font-size: 1.5rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}