$color_1: white;

section.mice-hero {
    width: auto;
    height: fit-content;

    article.mice-hero__imagen {
        width: 100%;
        min-height: 60rem;
        background-image: url('/media/img/mice/mice-hero.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 80%;
        overflow: hidden;

        @include mobile {
            height: 20rem;
        }
    }
}