main.main-content-news {
    width: 100%;
    padding: 100px 0;
}

.main-content-news {
    section.introduction {
        width: 100%;
        text-align: center;
        color: var(--secundario);

        h1 {
            text-align: center;
        }

        h3 {
            margin: 2rem 0;
        }
    }

    section.excerpts {
        >div {
            width: 80%;
            border-bottom: 2px solid var(--secundario);
            margin: 5rem auto;
            padding: 2rem 0;

            &:last-child {
                border: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}