/* Black mode - NightMode */
body.darkMode {
    background: rgb(37, 37, 37);
    background: linear-gradient(0deg, rgba(37, 37, 37, 1) 0%, rgba(0, 0, 0, 1) 100%);

    header {
        background-color: #000;

        .header__social a i {
            color: #F5EDCE;
            opacity: 0.8;

            &.bi-instagram:hover {
                color: violet;
            }

            &.bi-facebook:hover {
                color: #1877f2;
            }

            &.bi-twitter:hover {
                color: #1da1f2;
            }
        }
    }

    nav {
        border-bottom: 1px solid var(--secundario);
        background: transparent;

        .logo {
            filter: invert(1);
        }
    }

    footer {
        background-color: transparent;
    }
}

body.darkMode>h1,
body.darkMode>h2,
body.darkMode>h3,
body.darkMode>h4,
body.darkMode>p {
    color: var(--secundario);
}