:root {
    /* Basics */
    --blanco: #fff;
    --bg-clr: #A9A6AB;
    --negro: #000;

    /* Custom */
    --primario: #1877F2;
    --secundario: #F5EDCE;

    --brand-clr: #275591;
    --title-clr: #4D46A6;
    --footer-clr: #08267a;
    --flex: #31ACBD;

    /* Font */
    --fuentePrincipal: 'Exo 2', sans-serif;
}