$color_1: var(--secundario);
$color_2: var(--blanco);
$color_3: var(--band-clr);
$background-color_1: var(--footer-clr);
$background-color_2: var(--bg-clr);
$background-color_3: blue;

/* Footer */
.footer {
    width: auto;
    height: fit-content;
    color: $color_1;
    background-color: $background-color_1;
    background-repeat: repeat;
    background-position: center center;
    padding: 8rem 0;

    @include desktop {
        width: 100%;
        padding: 2rem 0;
    }
}

.footer-container {
    display: block;
    width: auto;
    height: fit-content;
    margin: auto;
    padding: 5rem;

    @include desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 1400px;
        width: auto;
        padding: 1rem 5rem;
        height: fit-content;
        margin: auto;
        gap: 2rem;
    }

    div {

        >ul {
            padding: 0;

            >li {
                font-size: 3rem;
                font-weight: 400;
                line-height: 3;
                text-align: center;
                width: auto;
                height: auto;
                word-wrap: break-word;

                @include desktop {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 2;
                    text-align: left;
                    width: max-content;
                    height: max-content;
                }

                &:hover {
                    list-style: georgian;
                    color: $color_2;
                }
            }
        }

        >h4 {
            width: 90%;
            height: auto;
            color: $color_1;
            font-size: 3rem;
            font-weight: 700;
            margin: 0 auto;
            border-bottom: solid 2px var(--bg-clr);
            text-align: center;

            @include desktop {
                width: 100%;
                height: auto;
                text-align: start;
                margin: 1rem 0;
                font-size: 2.8rem;
                font-weight: 400;
            }
        }
    }
}

.footer-subscribe {
    padding: 0;
    margin: 0;
    width: 100%;

    @include desktop {
        width: 40rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;

        @include desktop {
            margin-top: 2rem;
        }


        input[type="email"] {
            width: 90%;
            margin: 0 auto;
            border: 0;
            border-radius: 10px;
            color: $color_1;
            background-color: $background-color_2;
            padding: 2rem;
            text-transform: capitalize;

            @include desktop {
                width: 100%;
                justify-content: flex-start;
            }
        }

        .sub-cbx {
            width: auto;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
        }

        input[type="checkbox"] {
            transform: scale(1.5);
        }

        p {
            width: 100%;
            color: $color_1;
            font-size: 2rem;
            line-height: 1.2;
            margin: 0;
            margin-left: 1rem;
        }

        .btn-newsletter {
            width: 90%;
            border-radius: 10px;
            padding: 1.2rem 0;
            margin: 1rem 0;
            opacity: 0.8;
            justify-self: flex-end;

            @include desktop {
                width: auto;
                align-items: center;
                padding: 1rem 2rem;
            }

            &:hover {
                color: $color_3;
                background-color: $background-color_2;
                opacity: 1;
            }
        }
    }
}