/* Footer */
.footer {
    width: auto;
    height: fit-content;
    color: var(--forth-clr);
    background-color: var(--ft-hd-clr);
    background-repeat: repeat;
    background-position: center center;
    padding-top: 5rem;

    @include desktop {
        width: 100%;
        padding: 2rem 0;
    }
}

.footer-container {
    display: block;
    width: auto;
    height: fit-content;
    margin: auto;
    padding: 1.5rem 0;

    @include desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 150rem;
        width: auto;
        padding: 1rem 5rem;
        height: fit-content;
        margin: auto;
        gap: 5rem;
    }

    div {

        >ul {
            padding: 0;

            >li {
                font-size: 2rem;
                font-weight: 400;
                line-height: 3;
                text-align: center;
                width: auto;
                height: auto;
                word-wrap: break-word;

                @include desktop {
                    font-weight: 400;
                    line-height: 2;
                    text-align: left;
                    width: max-content;
                    height: max-content;
                }

                &:hover {
                    list-style: georgian;
                    color: var(--third-clr);
                }
            }
        }

        >h4 {
            width: 90%;
            height: auto;
            color: var(--forth-clr);
            font-size: 2.4rem;
            font-weight: 700;
            margin: 0 auto;
            border-bottom: solid 2px var(--third-clr);
            text-align: center;

            @include desktop {
                width: 100%;
                height: fit-content;
                text-align: start;
                margin: 1rem 0;
                font-size: 2.8rem;
                font-weight: 400;
            }
        }
    }
}

.footer-subscribe {
    padding: 0;
    margin: 0;
    width: 100%;

    @include desktop {
        width: 40rem;
    }

    form {
        @include flex(column, center, center);
        margin-top: 4rem;

        @include desktop {
            margin-top: 2rem;
        }


        input[type="email"] {
            width: 90%;
            margin: 0 auto;
            border: 0;
            border-radius: 10px;
            color: var(--third-clr);
            background-color: var(--white);
            padding: 2rem;
            text-transform: capitalize;

            @include desktop {
                width: 100%;
                justify-content: flex-start;
            }
        }

        .sub-cbx {
            width: auto;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
        }

        input[type="checkbox"] {
            transform: scale(1.5);
        }

        p {
            width: 100%;
            color: var(--forth-clr);
            font-size: 1.8rem;
            line-height: 2;
            margin: 1rem;
            text-transform: uppercase;
        }

        .btn-newsletter {
            width: 90%;
            border-radius: 10px;
            padding: 1.2rem 0;
            margin: 1rem 0;
            opacity: 0.8;
            justify-self: flex-end;

            @include desktop {
                width: auto;
                align-items: center;
                padding: 1rem 2rem;
            }

            &:hover {
                color: var(--white);
                background-color: var(--prim-clr);
                opacity: 1;
            }
        }
    }
}