.header {
    background-color: var(--footer-clr);
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.header__social {
    max-width: 100%;
    justify-content: center;
    height: fit-content;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;

    @include desktop {
        max-width: 85%;
        justify-content: flex-end;
    }

    >a {
        >i {
            color: var(--secundario);
            display: flex;
            justify-content: space-between;
            font-size: 2.3rem;
            margin: 0 1rem;
        }
    }
}

.bi-facebook {
    &:hover {
        color: #1877f2;
    }
}

.bi-twitter {
    &:hover {
        color: #1da1f2;
    }
}

.bi-instagram {
    &:hover {
        color: violet;
    }
}