.header {
    background-color: var(--ft-hd-clr);
    width: 100%;
    box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.7);
}

body.darkMode {
    .header {
        box-shadow: 1px 1px 5px 1px var(--light);
    }
}

.header__social {
    max-width: 100%;
    justify-content: center;
    height: fit-content;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;

    @include desktop {
        max-width: 85%;
        justify-content: flex-end;
    }

    >a {
        >i {
            color: var(--forth-clr);
            display: flex;
            justify-content: space-between;
            font-size: 2.3rem;
            margin: 0 1rem;
        }
    }
}

.bi-facebook {
    &:hover {
        color: #1877f2;
    }
}

.bi-twitter {
    &:hover {
        color: #1da1f2;
    }
}

.bi-instagram {
    &:hover {
        color: violet;
    }
}