.hero {
    width: 100%;
    min-height: fit-content;

    @include tablet {
        width: 90%;
        margin: 0 auto;
    }
}

.hero__imagen {
    width: 100%;
    min-height: 80rem;
    overflow: hidden;

    @include tablet {
        min-height: 30rem;
    }
}

.index__hero {
    background-image: url('../../media/img/index/index-hero.webp');
    background-size: cover;
    background-position: center center;
}

.mice__hero {
    background-image: url('../../media/img/mice/mice-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
}

.mousepad__hero {
    background-image: url('../../media/img/mousepad/mousepad-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%;
}