.hero {
    min-height: fit-content;
    width: 90%;
    margin: 0 auto;

    @include desktop {
        width: 100%;
    }
}

.hero__imagen {
    width: 100%;
    min-height: 30rem;
    overflow: hidden;
    border-radius: 10px;
    image-rendering: optimizeSpeed;



    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;

    @include desktop {
        min-height: 70rem;
        border-radius: 0;
    }
}

.index__hero {
    background-image: url('../../media/img/index/index-hero.webp');
    background-position: center center;
}

.mice__hero {
    background-image: url('../../media/img/mice/mice-hero.webp');
}

.mousepad__hero {
    background-image: url('../../media/img/mousepad/mousepad-hero.webp');
    background-position: center 40%;
}

.iniside__hero {
    background-image: url('../../media/img/inside/inside-hero.webp');
    background-position: center 40%;
    filter: blur(1px);
}