body.darkMode {
    .navegacion-principal {
        .contenedor {
            .nav__logo {
                filter: invert(1);
            }
        }
    }
}

.navegacion-principal {
    min-width: 100%;
    height: fit-content;

    .contenedor {
        width: 100%;
        padding: 1rem 2rem;

        @include flex(column, space-between, center);

        @include tablet {
            max-width: 140rem;
            @include flex(row, space-between, center);
        }

        .nav__logo {
            width: 100%;
            min-height: 70px;

            background-image: url('../../img/logo/logo-web.png');
            background-size: contain;
            background-repeat: no-repeat;

            @include mobile {
                background-position: center center;
            }

            @include tablet {
                background-position: start center;
            }

            @include desktop {
                width: 33.3%;
            }

            p {
                display: none;
            }
        }

        .nav__menu {
            width: 20%;
            height: 100%;
            // background-color: aquamarine;

            @include flex(row, center, flex-end);

            @include desktop {
                display: none;
            }


        }

        .nav__navbar {
            display: none;


            @include desktop {
                width: auto;
                height: 100%;
                @include flex(row, space-between, baseline);
                margin: 0;
                gap: 1rem;
                padding: 1rem 0;
            }

            li {
                color: var(--black);
                font-size: 1.8rem;
                font-weight: 400;
                padding: 1rem;
                border-radius: 20px;

                a {
                    color: var(--black);
                    padding: 0 1rem;

                    &:hover {
                        transition: all 0.5s ease-in;
                        color: var(--forth-clr);
                    }
                }

                &:hover,
                &.active {
                    transition: all 0.5s ease-in;
                    background-color: var(--title-clr);

                    a {
                        color: var(--forth-clr);
                    }
                }
            }

        }

    }
}

.nav__menu {
    .menu__button {
        padding: 1rem;
        font-size: 2.4rem;
        background-color: var(--prim-clr);
        color: var(--forth-clr);
        border-radius: 500px;

        &:hover {
            color: var(--white);
            background-color: var(--black);
            opacity: 1;
        }
    }
}