main.main-content-products {
    width: 90%;
    margin: 0 auto;

    .products-content-container {
        padding: 2rem;
        width: auto;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: auto;
        gap: 2rem;

    }

    .products-content-heading {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid var(--brand-clr);

        @include desktop {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 5rem;
        }

    }
}


.products-content-heading {
    .products__label-input {
        width: fit-content;
        align-items: center;
        margin: 1rem 2rem;
        filter: invert(1);
        color: $color_1;

        >label {
            font-size: 1.6rem;
            text-align: center;
            width: 100%;
        }

        >select {
            height: 5rem;
            font-weight: bolder;
            text-align: center;
            width: 15rem;

            @include desktop {
                width: 100%;
            }
        }
    }
}