main.main-content-products {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 0;
    text-align: center;

    @include desktop {
        grid-template-columns: 1fr 4fr;
    }

    .products-content-container {
        grid-area: 3/4/1/2;
        padding: 2rem;
        width: auto;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
        gap: 2rem;
        background-color: var(--white);
        border: 1px solid #bbbbbb;
        border-radius: 15px;

    }

    .products-content-heading {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        @include desktop {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 3rem 5rem;
        }

        .products__label-input {
            width: fit-content;
            align-items: center;
            margin: 1rem 2rem;
            filter: invert(1);
            color: var(--white);

            >label {
                font-size: 1.6rem;
                text-align: center;
                width: 100%;
            }

            >select {
                height: 5rem;
                font-weight: bolder;
                text-align: center;
                width: 15rem;

                @include desktop {
                    width: 100%;
                }
            }
        }

    }

    .aside-products {
        display: none;
        border-radius: 15px;
        height: 40rem;
        background-color: var(--white);
        border: 1px solid #bbbbbb;

        @include desktop {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;
            text-align: start;
            padding: 0 3rem;
        }
    }
}