.to-chart__title {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.to-chart__size {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: center;
    justify-content: flex-start;

    @include desktop {
        gap: 2rem;
    }
}

.to-chart__sizeholder {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid var(--primario);
    border-radius: 20px;

    p {
        margin: auto;
        padding: 1rem;
        color: var(--primario);
    }

    &:hover {
        background-color: var(--brand-clr);

        p {
            color: var(--blanco);
        }
    }
}


.to-chart__price {
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    align-items: center;

    .newPrice {
        font-size: 4rem;
        color: var(--primario);
    }

    .old-price {
        font-size: 2rem;
        text-decoration: line-through;
        color: var(--title-clr);
    }
}

.btn-buynow {
    width: fit-content;
    margin: 1rem auto;
    padding: 1rem 3rem;
    border-radius: 20px;
    background-color: var(--flex);
    color: var(--blanco);

    @include desktop {
        background-color: var(--blanco);
        color: var(--flex);

        &:hover {
            background-color: var(--flex);
            color: var(--blanco);
        }
    }
}